# https://blog.somewhatabstract.com/2021/10/11/setting-up-dependabot-with-github-actions-to-approve-and-merge/

name: Dependabot Pull Request Approve and Merge

on: pull_request_target

permissions:
  pull-requests: write
  contents: write

jobs:

  build:

    runs-on: ubuntu-latest

    strategy:

      matrix:
        java: [ '11', '18' ]
        java-distro: [ 'temurin' ]

    steps:

      - uses: actions/checkout@v5

      - name: Set up JDK ${{ matrix.java }} distribution (${{ matrix.java-distro }})
        uses: actions/setup-java@v5
        with:
          java-version: ${{ matrix.Java }}
          distribution: ${{ matrix.java-distro }}
          cache: 'maven'

      - name: Build with Maven
        run: mvn -B package --file pom.xml

  dependabot:
    runs-on: ubuntu-latest
    needs: [ build ]
    # Checking the actor will prevent your Action run failing on non-Dependabot
    # PRs but also ensures that it only does work for Dependabot PRs.
    if: ${{ github.actor == 'dependabot[bot]' }}
    steps:
      # This first step will fail if there's no metadata and so the approval
      # will not occur.
      - name: Dependabot metadata
        id: dependabot-metadata
        uses: dependabot/fetch-metadata@v2.4.0
        with:
          github-token: "${{ secrets.GITHUB_TOKEN }}"
      # Here the PR gets approved.
      - name: Approve a PR
        run: gh pr review --approve "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      # Finally, this sets the PR to allow auto-merging for patch and minor
      # updates if all checks pass
      - name: Enable auto-merge for Dependabot PRs

        if: ${{ github.event.workflow_run.conclusion == 'success' && !contains(steps.metadata.outputs.dependency-names, 'jetty-maven-plugin') && steps.dependabot-metadata.outputs.update-type != 'version-update:semver-major' }}
        run: gh pr merge --auto --squash "$PR_URL"
        env:
          PR_URL: ${{ github.event.pull_request.html_url }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}